soap/demo-soap/assets/resources/customers.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">

    <xs:complexType name="serviceStatus">
        <xs:sequence>
            <xs:element name="statusCode" type="xs:string"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Name">
        <xs:sequence>
            <xs:element name="first_name" type="xs:string"/>
            <xs:element name="last_name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Address">
        <xs:sequence>
            <xs:element name="country" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="street_name" type="xs:string"/>
            <xs:element name="street_number" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="customer">
        <xs:sequence>
            <xs:element name="customerId" type="xs:long"/>
            <xs:element name="name" type="tns:Name"/>
            <xs:element name="gender" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="phone_number" type="xs:string"/>
            <xs:element name="address" type="tns:Address"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getCustomerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customerId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCustomerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customer" type="tns:customer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getcustomerslistRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="getcustomerslistResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="customers" nillable="true" type="tns:customer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addcustomerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customer" type="tns:customer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addcustomerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deletecustomerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customerId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deletecustomerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updatecustomerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customer" type="tns:customer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updatecustomerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getcustomerslistResponse">
    <wsdl:part element="tns:getcustomerslistResponse" name="getcustomerslistResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addcustomerRequest">
    <wsdl:part element="tns:addcustomerRequest" name="addcustomerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletecustomerRequest">
    <wsdl:part element="tns:deletecustomerRequest" name="deletecustomerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletecustomerResponse">
    <wsdl:part element="tns:deletecustomerResponse" name="deletecustomerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatecustomerRequest">
    <wsdl:part element="tns:updatecustomerRequest" name="updatecustomerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getcustomerslistRequest">
    <wsdl:part element="tns:getcustomerslistRequest" name="getcustomerslistRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomerRequest">
    <wsdl:part element="tns:getCustomerRequest" name="getCustomerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatecustomerResponse">
    <wsdl:part element="tns:updatecustomerResponse" name="updatecustomerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addcustomerResponse">
    <wsdl:part element="tns:addcustomerResponse" name="addcustomerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomerResponse">
    <wsdl:part element="tns:getCustomerResponse" name="getCustomerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomersPort">
    <wsdl:operation name="getcustomerslist">
      <wsdl:input message="tns:getcustomerslistRequest" name="getcustomerslistRequest">
    </wsdl:input>
      <wsdl:output message="tns:getcustomerslistResponse" name="getcustomerslistResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addcustomer">
      <wsdl:input message="tns:addcustomerRequest" name="addcustomerRequest">
    </wsdl:input>
      <wsdl:output message="tns:addcustomerResponse" name="addcustomerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletecustomer">
      <wsdl:input message="tns:deletecustomerRequest" name="deletecustomerRequest">
    </wsdl:input>
      <wsdl:output message="tns:deletecustomerResponse" name="deletecustomerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatecustomer">
      <wsdl:input message="tns:updatecustomerRequest" name="updatecustomerRequest">
    </wsdl:input>
      <wsdl:output message="tns:updatecustomerResponse" name="updatecustomerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomer">
      <wsdl:input message="tns:getCustomerRequest" name="getCustomerRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCustomerResponse" name="getCustomerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomersPortSoap11" type="tns:CustomersPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getcustomerslist">
      <soap:operation soapAction=""/>
      <wsdl:input name="getcustomerslistRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getcustomerslistResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addcustomer">
      <soap:operation soapAction=""/>
      <wsdl:input name="addcustomerRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addcustomerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletecustomer">
      <soap:operation soapAction=""/>
      <wsdl:input name="deletecustomerRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletecustomerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatecustomer">
      <soap:operation soapAction=""/>
      <wsdl:input name="updatecustomerRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatecustomerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomer">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCustomerRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCustomerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomersPortService">
    <wsdl:port binding="tns:CustomersPortSoap11" name="CustomersPortSoap11">
      <soap:address location="http://solutions.openlegacy.com:8085/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>